<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SMA Tanjung Priok Jakarta</title>
    <link rel="icon" href="../assets/logo.png" type="image/png" />
    <link href="/public/css/output.css" rel="stylesheet" />
    <!-- <link href="../css/index.css" rel="stylesheet" /> -->

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body class="font-cms bg-[#E5F3EF]">
    <!-- NAVBAR -->
    <nav class="sticky bg-[#0D464B] py-3 lg:py-3.5 top-0 w-full z-30">
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-semibold text-sm text-white block my-auto ml-2 tracking-normal"
          >
            SMA Tanjung Priok Jakarta
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#ffffff] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#0D464B"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#0D464B] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="beranda.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >Beranda</a
          >
          <a
            href="profil.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Profil</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            id="dataDropdownHP"
          >
            Data
            <div
              class="hidden absolute -mt-12 -left-28 bg-[#FF8B42] p-2 w-28 rounded-l-md font-medium"
              id="dataDropdownContentHP"
            >
              <a
                href="guru.html"
                class="block text-black hover:text-[#FF8B42] py-1 -mt-5 text-[13px] text-center"
                >Data Guru</a
              >
              <a
                href="staf.html"
                class="block text-black hover:text-[#FF8B42] py-1 text-[13px] text-center"
                >Data Staf</a
              >
            </div>
          </a>
          <a
            href="konten.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Konten</a
          >
          <a
            href="https://frontend-e-learning.web.app/view/login/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >E-Learning</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-semibold tracking-wide text-white text-[14px] lg:text-base xl:text-[17px]"
          >
            SMA Tanjung Priok Jakarta
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="beranda.html">
            <p
              class="hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >
              Beranda
            </p>
          </a>
          <a href="profil.html">
            <p class="hover:text-[#FF8B42]">Profil</p>
          </a>
          <a href="#" id="dataDropdown1" class="relative block">
            <p class="hover:text-[#FF8B42]">Data Sekolah</p>
            <div
              class="hidden font-medium absolute bg-[#FF8B42] xl:mt-[49px] text-center lg:mt-[48px] mt-[42px] px-4 py-4 w-[100px] lg:w-[120px] rounded-b-md shadow-md text-xs lg:text-[13px] xl:text-[14px] -ml-8"
              id="dataDropdownContent1"
            >
              <a href="guru.html" class="block text-black hover:font-bold py-1"
                >Data Guru</a
              >
              <a
                href="staf.html"
                class="block text-black hover:font-bold py-1 mt-2"
                >Data Staf</a
              >
            </div>
          </a>
          <a href="konten.html">
            <p class="hover:text-[#FF8B42]">konten</p>
          </a>
          <a href="https://frontend-e-learning.web.app/view/login/siswa.html">
            <p class="hover:text-[#FF8B42]">E-Learning</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("dataDropdownHP")
          .addEventListener("click", function () {
            var dropdownContentHP1 = document.getElementById(
              "dataDropdownContentHP"
            );
            dropdownContentHP1.classList.toggle("hidden");
          });

        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });

        document
          .getElementById("dataDropdown1")
          .addEventListener("click", function (event) {
            event.preventDefault();
            var dropdownContent = document.getElementById(
              "dataDropdownContent1"
            );
            dropdownContent.classList.toggle("hidden");
          });
      </script>
    </nav>

    <!-- CAROUSEL -->
    <section>
      <div class="w-full bg-[#001A1C] bg-opacity-95">
        <div class="sm:flex pb-5 sm:pb-0">
          <img
            class="w-full mb-5 sm:mb-0 sm:w-1/2 rounded-br-[400px] xl:h-[600px] lg:h-[500px] md:h-[430px] sm:h-[380px] h-[280px] object-cover object-center"
            src="../assets/carousel-fix.jpg"
          />
          <div
            class="sm:w-1/2 my-auto mr-5 sm:mr-7 md:mr-10 lg:mr-12 xl:mr-16 xl:ml-0 sm:ml-3 ml-2 text-white"
          >
            <p
              class="font-semibold text-[22px] sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-right tracking-wide"
            >
              SMA Tanjung Priok Jakarta
            </p>
            <p
              class="font-medium text-[15px] sm:text-base md:text-lg lg:text-xl xl:text-2xl text-right tracking-wide mt-1.5 sm:mt-3 md:mt-4 lg:mt-6 xl:mt-7"
            >
              Unggul Dalam Mutu Berpijak pada Budaya Bangsa
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- SEKILAS SMA TANJUNG PRIOK -->
    <section class="my-10 sm:my-12">
      <div class="mx-5 sm:mx-8 md:mx-10 lg:mx-16 xl:mx-20">
        <!-- Tampilan HP -->
        <div class="text-black block md:hidden">
          <div class="bg-[#0D464B] py-0.5 w-3/4 ml-auto"></div>
          <h1 class="font-bold text-xl sm:text-2xl mt-5 sm:mt-7 text-justify">
            Sekilas Tentang SMA Tanjung Priok Jakarta
          </h1>
          <p class="text-sm sm:text-[14.5px] font-normal mt-4 text-justify">
            SMA Tanjung Priok Jakarta adalah sebuah lembaga pendidikan menengah
            atas berakreditasi A yang berkomitmen untuk menjadi yang terdepan
            dalam mencapai mutu pendidikan sambil tetap mengakar pada
            nilai-nilai dan budaya bangsa. SMA Tanjung Priok Jakarta
            mengedepankan pembentukan karakter siswa, termasuk nilai-nilai
            moral, etika, kepemimpinan, dan keterampilan sosial.
          </p>
          <div class="bg-[#0D464B] w-3/4 py-0.5 mt-5 sm:mt-7"></div>
        </div>

        <!-- TAMPILAN TABLET DAN LAPTOP -->
        <div class="hidden md:block">
          <div class="flex">
            <div class="w-1/2 mr-8 relative">
              <h1
                class="font-semibold text-3xl lg:text-[33px] xl:text-4xl my-auto leading-normal xl:leading-[1.5] mt-[50px] lg:mt-12 xl:mt-12"
              >
                Sekilas Tentang SMA Tanjung Priok Jakarta
              </h1>
              <!-- GIMANA CARANYA AGAR INI KEBAWAH? -->
              <div class="bg-[#0D464B] py-0.5 w-full absolute bottom-0"></div>
            </div>
            <div class="w-1/2 ml-8 relative">
              <div class="bg-[#0D464B] py-0.5 w-full absolute top-0"></div>
              <p
                class="text-[15px] lg:text-base xl:text-[17px] xl:tracking-wide font-normal my-5 lg:my-7 xl:my-10 text-justify"
              >
                SMA Tanjung Priok Jakarta adalah sebuah lembaga pendidikan
                menengah atas berakreditasi A yang berkomitmen untuk menjadi
                yang terdepan dalam mencapai mutu pendidikan sambil tetap
                mengakar pada nilai-nilai dan budaya bangsa. SMA Tanjung Priok
                Jakarta mengedepankan pembentukan karakter siswa, termasuk
                nilai-nilai moral, etika, kepemimpinan, dan keterampilan sosial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- EKSPLORASI TERBARU -->
    <section class="my-12 sm:my-16 lg:py-5">
      <div class="mx-5 sm:mx-8 md:mx-10 lg:mx-16 xl:mx-20">
        <h1
          class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-[33px] xl:text-4xl text-center"
        >
          Eksplorasi Terbaru
        </h1>
        <p
          class="mt-3 font-normal lg:mt-5 text-sm sm:text-[14.5px] md:text-[15px] lg:text-base xl:text-lg italic text-center"
        >
          Jelajahi update terbaru dari komunitas pendidikan kami!
        </p>
        <div
          class="sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-8 sm:mt-3"
        >
          <a href="#">
            <div
              class="bg-[#00C59C] rounded-md bg-opacity-80 py-6 px-6 lg:px-7 lg:py-7 mt-5 hover:transition hover:scale-105 ease-in-out duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                class="w-10 h-10"
              >
                <path
                  d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"
                />
              </svg>
              <p
                class="font-bold text-base md:text-[16.5px] lg:text-[17px] xl:text-lg mt-2 lg:mt-4"
              >
                Prestasi Sekolah
              </p>
              <p
                class="text-[13px] sm:text-[13.5px] md:text-sm lg:text-[14.5px] xl:text-[15.5px] font-normal mt-1"
              >
                Telusuri Pencapaian Gemilang Sekolah Kami.
              </p>
            </div>
          </a>
          <a href="#">
            <div
              class="bg-[#FF8B42] rounded-md bg-opacity-85 py-6 px-6 lg:px-7 lg:py-7 mt-5 hover:transition hover:scale-105 ease-in-out duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="w-10 h-10"
              >
                <path
                  d="M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H296c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z"
                />
              </svg>
              <p
                class="font-bold text-base md:text-[16.5px] lg:text-[17px] xl:text-lg mt-2 lg:mt-4"
              >
                Berita Sekolah
              </p>
              <p
                class="text-[13px] sm:text-[13.5px] md:text-sm lg:text-[14.5px] xl:text-[15.5px] font-normal mt-1"
              >
                Jelajahi Berita-Berita Terkini Sekolah Kami.
              </p>
            </div>
          </a>
          <a href="#">
            <div
              class="bg-[#00A9C0] rounded-md bg-opacity-75 py-6 px-6 lg:px-7 lg:py-7 mt-5 sm:mt-0 lg:mt-5 hover:transition hover:scale-105 ease-in-out duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="w-10 h-10"
              >
                <path
                  d="M480 32c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9L381.7 53c-48 48-113.1 75-181 75H192 160 64c-35.3 0-64 28.7-64 64v96c0 35.3 28.7 64 64 64l0 128c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32V352l8.7 0c67.9 0 133 27 181 75l43.6 43.6c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V300.4c18.6-8.8 32-32.5 32-60.4s-13.4-51.6-32-60.4V32zm-64 76.7V240 371.3C357.2 317.8 280.5 288 200.7 288H192V192h8.7c79.8 0 156.5-29.8 215.3-83.3z"
                />
              </svg>
              <p
                class="font-bold text-base md:text-[16.5px] lg:text-[17px] xl:text-lg mt-2 lg:mt-4"
              >
                Pengumuman Sekolah
              </p>
              <p
                class="text-[13px] sm:text-[13.5px] md:text-sm lg:text-[14.5px] xl:text-[15.5px] font-normal mt-1"
              >
                Temukan Pengumuman Terbaru Sekolah Kami.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- EKSTRAKURIKULER -->
    <section class="relative mt-16 sm:mt-20 h-[430px] sm:h-[450px] md:h-[400px] lg:h-[420px] xl:h-[490px]">
      <!-- Div untuk overlay warna -->
      <div
        class="absolute top-0 left-0 w-full h-full bg-[#0D464B] bg-opacity-90 z-10"
      ></div>
      <!-- Gambar Latar -->
      <img
        src="../assets/school-AI1.jpg"
        alt="School"
        class="top-0 left-0 w-full z-0 opacity-80 object-cover object-center h-[430px] sm:h-[450px] md:h-[400px] lg:h-[420px] xl:h-[490px]"
      />
      <!-- TAMPILAN HP -->
      <div class="block md:hidden absolute top-0 left-0 w-full my-8 z-20">
        <h1 class="text-white text-center font-semibold text-xl sm:text-2xl md:text-3xl lg:text-[33px] xl:text-4xl">
          Kegiatan Ekstrakurikuler
        </h1>
        <!-- INI YANG AKAN DIGESER -->
        <ul id="slider" class="flex">
          <li class="mx-5 sm:mx-8">
            <div class="flex justify-center items-center my-3 sm:my-4">
              <img
                src="../assets/ekskul.png"
                class="w-[130px] h-[130px] sm:w-[150px] sm:h-[150px] items-center object-cover object-center"
              />
            </div>
            <h1 class="text-white text-center font-semibold text-[17px] sm:text-lg">
              Futsal SMA Tanjung Priok
            </h1>
            <p
              class="text-center text-white font-light text-[12.5px] sm:text-sm  mt-2"
            >
            Futsal SMA Tanjung Priok adalah kegiatan yang bertujuan untuk mengembangkan keterampilan bermain futsal dan memupuk nilai-nilai seperti kerjasama tim, disiplin, dan komitmen.
            </p>
            <div class="flex justify-center items-center mt-2 sm:mt-3">
              <a href="#">
                <p class="text-[12.5px] sm:text-sm font-medium text-white underline">
                  Selengkapnya
                </p>
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                class="mt-[1px] ml-0.5 w-3.5 h-3.5"
                fill="#fff"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </div>
          </li>
          <li class="hidden mx-5 sm:mx-8">
            <div class="flex justify-center items-center my-3 sm:my-4">
              <img
                src="../assets/logo-paskib.png"
                class="w-[130px] h-[130px] sm:w-[150px] sm:h-[150px] items-center object-cover object-center"
              />
            </div>
            <h1 class="text-white text-center font-semibold text-[17px] sm:text-lg">
              Paskibra SMA Tanjung Priok
            </h1>
            <p
              class="text-center text-white font-light text-[12.5px] sm:text-sm mt-2"
            >
            Pasukan Pengibar Bendera SMA Tanjung Priok adalah sebuah unit kegiatan ekstrakurikuler di SMA Tanjung Priok Jakarta yang bertanggung jawab atas kegiatan berkaitan dengan upacara resmi.
            </p>
            <div class="flex justify-center items-center mt-2 sm:mt-3">
              <a href="#">
                <p class="text-[12.5px] sm:text-sm font-medium text-white underline">
                  Selengkapnya
                </p>
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                class="mt-[1px] ml-0.5 w-3.5 h-3.5"
                fill="#fff"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </div>
          </li>
          <li class="hidden mx-5 sm:mx-8">
            <div class="flex justify-center items-center my-3 sm:my-4">
              <img
                src="../assets/logo-tari.png"
                class="w-[130px] h-[130px] sm:w-[150px] sm:h-[150px] items-center object-cover object-center"
              />
            </div>
            <h1 class="text-white text-center font-semibold text-[17px] sm:text-lg">
              Tari Daerah SMA Tanjung Priok
            </h1>
            <p
              class="text-center text-white font-light text-[12.5px] sm:text-sm  mt-2"
            >
            Tari daerah SMA Tanjung Priok adalah salah satu kegiatan yang memungkinkan siswa untuk mempelajari dan mempertahankan warisan budaya tari daerah Indonesia.
            </p>
            <div class="flex justify-center items-center mt-2 sm:mt-3">
              <a href="#">
                <p class="text-[12.5px] sm:text-sm font-medium text-white underline">
                  Selengkapnya
                </p>
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                class="mt-[1px] ml-0.5 w-3.5 h-3.5"
                fill="#fff"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </div>
          </li>
        </ul>
        <!-- INI UNTUK PANAH KANAN DAN KIRI -->
        <div class="flex justify-center items-center mt-5">
          <button onclick="prev()" class="rounded-full bg-white p-1.5 sm:p-2 mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-5 h-5"
            >
              <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
              />
            </svg>
          </button>
          <button onclick="next()" class="rounded-full bg-white p-1.5 sm:p-2 ml-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-5 h-5"
            >
              <path
                d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              />
            </svg>
          </button>
        </div>
        <script>
          currentSlideID = 1;
          sliderElement = document.getElementById("slider");
          totalSlides = sliderElement.childElementCount;

          function next() {
            if (currentSlideID < totalSlides) {
              currentSlideID++;
              showSlide();
            }
          }
          function prev() {
            if (currentSlideID > 1) {
              currentSlideID--;
              showSlide();
            }
          }
          function showSlide() {
            slides = document
              .getElementById("slider")
              .getElementsByTagName("li");
            for (let index = 0; index < totalSlides; index++) {
              const element = slides[index];
              if (currentSlideID === index + 1) {
                element.classList.remove("hidden");
              } else {
                element.classList.add("hidden");
              }
            }
          }
        </script>
      </div>
      <!-- TAMPILAN TABLET DAN LAPTOP -->
      <div class="md:block hidden absolute top-0 left-0 w-full my-12 lg:my-16 z-20">
        <h1 class="text-white text-center font-semibold md:text-3xl lg:text-[33px] xl:text-4xl">
          Kegiatan Ekstrakurikuler
        </h1>
        <div class="flex md:mx-10 lg:mx-16 xl:mx-20">
          <button onclick="prev2()" class="rounded-full p-1 mr-4 lg:mr-6 xl:mr-8 transition ease-in-out hover:scale-110">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-8 h-8 lg:w-10 lg:h-10 "
              fill="#fff"
            >
              <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
              />
            </svg>
          </button>
          <!-- INI YANG AKAN DIGESER -->
          <ul id="slider2" class="mt-3">
            <li class="flex">
              <div class="flex justify-center items-center my-3 sm:my-4">
                <img
                  src="../assets/ekskul.png"
                  class="w-[210px] h-[210px] lg:w-[230px] lg:h-[230px] xl:w-[260px] xl:h-[260px] items-center object-cover object-center"
                />
                <div class="ml-6 xl:ml-8">
                  <h1 class="text-white font-semibold text-[19px] lg:text-[22px] xl:text-[26px]">
                    Futsal SMA Tanjung Priok
                  </h1>
                  <p
                    class=" text-white font-light text-[14.5px] lg:text-base xl:text-lg mt-3 "
                  >
                  Futsal SMA Tanjung Priok adalah kegiatan yang bertujuan untuk mengembangkan keterampilan bermain futsal dan memupuk nilai-nilai seperti kerjasama tim, disiplin, dan komitmen.
                  </p>
                  <div class="mt-4 flex">
                    <a href="#">
                      <p class="text-[14.5px] lg:text-base xl:text-[17px] font-medium text-white underline">
                        Selengkapnya
                      </p>
                    </a>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      class="mt-[3px] ml-1 w-4 h-4"
                      fill="#fff"
                    >
                      <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="hidden">
              <div class="flex">
                <div class="flex justify-center items-center my-3 sm:my-4">
                  <img
                    src="../assets/logo-paskib.png"
                    class="w-[210px] h-[210px] lg:w-[230px] lg:h-[230px] xl:w-[260px] xl:h-[260px]  items-center object-cover object-center"
                  />
                  <div class="ml-6 xl:ml-8">
                    <h1 class="text-white font-semibold text-[19px] lg:text-[22px] xl:text-[26px]">
                      Paskibra SMA Tanjung Priok
                    </h1>
                    <p
                      class=" text-white font-light text-[14.5px] lg:text-base xl:text-lg mt-3"
                    >
                    Pasukan Pengibar Bendera SMA Tanjung Priok adalah sebuah unit kegiatan ekstrakurikuler di SMA Tanjung Priok Jakarta yang bertanggung jawab atas kegiatan berkaitan dengan upacara resmi.
                    </p>
                    <div class="mt-4 flex">
                      <a href="#">
                        <p class="text-[14.5px] lg:text-base xl:text-[17px] font-medium text-white underline">
                          Selengkapnya
                        </p>
                      </a>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        class="mt-[3px] ml-1 w-4 h-4"
                        fill="#fff"
                      >
                        <path
                          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="hidden">
              <div class="flex">
                <div class="flex justify-center items-center my-3 sm:my-4">
                  <img
                    src="../assets/logo-tari.png"
                    class="w-[210px] h-[210px] lg:w-[230px] lg:h-[230px] xl:w-[260px] xl:h-[260px]  items-center object-cover object-center"
                  />
                  <div class="ml-6 xl:ml-8">
                    <h1 class="text-white font-semibold text-[19px] lg:text-[22px]  xl:text-[26px]">
                      Tari Daerah SMA Tanjung Priok
                    </h1>
                    <p
                      class=" text-white font-light text-[14.5px] lg:text-base xl:text-lg mt-3"
                    >
                    Tari daerah SMA Tanjung Priok adalah salah satu kegiatan yang memungkinkan siswa untuk mempelajari dan mempertahankan warisan budaya tari daerah Indonesia.
                    </p>
                    <div class="mt-4 flex">
                      <a href="#">
                        <p class="text-[14.5px] lg:text-base xl:text-[17px] font-medium text-white underline">
                          Selengkapnya
                        </p>
                      </a>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        class="mt-[3px] ml-1 w-4 h-4"
                        fill="#fff"
                      >
                        <path
                          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                
              </div>
            </li>
          </ul>
          <button onclick="next2()" class="rounded-full  p-1 ml-4 lg:ml-6 xl:ml-8 transition ease-in-out hover:scale-110">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-8 h-8 lg:w-10 lg:h-10"
              fill="white"
            >
              <path
                d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              />
            </svg>
          </button>
        </div>
        <script>
          currentSlideID = 1;
          sliderElement = document.getElementById("slider2");
          totalSlides = sliderElement.childElementCount;

          function next2() {
            if (currentSlideID < totalSlides) {
              currentSlideID++;
              showSlide2();
            }
          }
          function prev2() {
            if (currentSlideID > 1) {
              currentSlideID--;
              showSlide2();
            }
          }
          function showSlide2() {
            slides = document
              .getElementById("slider2")
              .getElementsByTagName("li");
            for (let index = 0; index < totalSlides; index++) {
              const element = slides[index];
              if (currentSlideID === index + 1) {
                element.classList.remove("hidden");
              } else {
                element.classList.add("hidden");
              }
            }
          }
        </script>
      </div>
    </section>

    <!-- PRESTASI -->
    <section class="my-12 sm:my-16">
      <div class="mx-5 sm:mx-8 md:mx-10 lg:mx-16 xl:mx-20">
        <!-- TAMPILAN HP -->
        <div class="block md:hidden ">
          <h1 class="font-bold text-xl sm:text-2xl text-center">Prestasi Sekolah</h1>
          <p class="mt-3 text-sm sm:text-[15px] font-normal text-center">Telusuri pencapaian gemilang SMA Tanjung Priok Jakarta, sumber inspirasi bagi para siswa!</p>
          <ul id="sliderPrestasi" class="flex sm:grid sm:grid-cols-2 gap-5">
            <li class="mx-5 w-full sm:w-[300px]">
              <a href="#">
                <div class="justify-center items-center mt-5">
                  <img src="../assets/paskib.jpg" class="rounded-t-md w-full h-[180px] object-cover object-center"/>
                  <div class="bg-white rounded-b-md border border-black border-opacity-25 py-3 px-3">
                    <h1 class="text-sm font-semibold text-center">Marion Jola Jolie</h1>
                    <p class="mt-1 text-[12.5px] font-normal text-center">Juara 1 Lomba Panjat Tebing Putri</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="hidden sm:block mx-5 w-full sm:w-[300px]">
              <a href="#">
                <div class="justify-center items-center mt-5">
                  <img src="../assets/school-AI1.jpg" class="rounded-t-md w-full h-[180px] object-cover object-center"/>
                  <div class="bg-white rounded-b-md border border-black border-opacity-25 py-3 px-3">
                    <h1 class="text-sm font-semibold text-center">Angelina Jolie</h1>
                    <p class="mt-1 text-[12.5px] font-normal text-center">Juara 2 Lomba Menyanyi Tingkat Nasional</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="hidden mx-5 w-full sm:w-[300px]">
              <a href="#">
                <div class="justify-center items-center mt-5">
                  <img src="../assets/school-AI2.png" class="rounded-t-md w-full h-[180px] object-cover object-center"/>
                  <div class="bg-white rounded-b-md border border-black border-opacity-25 py-3 px-3">
                    <h1 class="text-sm font-semibold text-center">Futsal SMA Tanjung Priok</h1>
                    <p class="mt-1 text-[12.5px] font-normal text-center">Juara 3 Futsal Seroja Cup</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <div class="flex justify-center items-center mt-5">
            <button onclick="prevPrestasi()" class="rounded-full bg-[#0D464B] p-1.5 sm:p-2 mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                class="w-5 h-5"
                fill="#fff"
              >
                <path
                  d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
                />
              </svg>
            </button>
            <button onclick="nextPrestasi()" class="rounded-full bg-[#0D464B] p-1.5 sm:p-2 ml-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                class="w-5 h-5"
                fill="#fff"
              >
                <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
                />
              </svg>
            </button>
          </div>
          <script>
            currentSlideID = 1;
            sliderElement = document.getElementById("slider");
            totalSlides = sliderElement.childElementCount;
  
            function nextPrestasi() {
              if (currentSlideID < totalSlides) {
                currentSlideID++;
                showSlide();
              }
            }
            function prevPrestasi() {
              if (currentSlideID > 1) {
                currentSlideID--;
                showSlide();
              }
            }
            function showSlide() {
              slides = document
                .getElementById("sliderPrestasi")
                .getElementsByTagName("li");
              for (let index = 0; index < totalSlides; index++) {
                const element = slides[index];
                if (currentSlideID === index + 1) {
                  element.classList.remove("hidden");
                } else {
                  element.classList.add("hidden");
                }
              }
            }
          </script>
        </div>
      </div>
    </section>
  </body>
</html>
