<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SMA Tanjung Priok Jakarta</title>
    <link rel="icon" href="..//assets/logo.png" type="image/png" />
    <!-- <link href="/public/css/output.css" rel="stylesheet" /> -->
    <link href="../css/index.css" rel="stylesheet" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body class="font-cms bg-[#E5F3EF]">
    <!-- NAVBAR -->
    <nav
      class="sticky bg-[#0D464B] py-3 lg:py-3.5 top-0 w-full z-30 mb-7 xl:mb-10"
    >
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-semibold text-sm text-white block my-auto ml-2 tracking-normal"
          >
            SMA Tanjung Priok Jakarta Utara
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#ffffff] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#0D464B"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#0D464B] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="beranda.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >Beranda</a
          >
          <a
            href="profil.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Profil</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Data</a
          >
          <a
            href="konten.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Konten</a
          >
          <a
            href="https://frontend-e-learning.web.app/view/login/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >E-Learning</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-semibold tracking-wide text-white text-[14px] lg:text-base xl:text-[17px]"
          >
            SMA Tanjung Priok Jakarta Utara
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="beranda.html">
            <p
              class="hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >
              Beranda
            </p>
          </a>
          <a href="profil.html">
            <p class="hover:text-[#FF8B42]">Profil</p>
          </a>
          <a href="#">
            <p class="hover:text-[#FF8B42]">Data</p>
          </a>
          <a href="konten.html">
            <p class="hover:text-[#FF8B42]">Konten</p>
          </a>
          <a href="https://frontend-e-learning.web.app/view/login/siswa.html">
            <p class="hover:text-[#FF8B42]">E-Learning</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });
      </script>
    </nav>

    <!-- CAROUSEL -->

  </body>
</html>
