<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profil SMA Tanjung Priok Jakarta</title>
    <link rel="icon" href="../assets/logo.png" type="image/png" />
    <link href="/public/css/output.css" rel="stylesheet" />
    <!-- <link href="../css/index.css" rel="stylesheet" /> -->

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body class="font-cms bg-[#E5F3EF]">
    <!-- NAVBAR -->
    <nav class="sticky bg-[#0D464B] py-3 lg:py-3.5 top-0 w-full z-30">
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-semibold text-sm text-white block my-auto ml-2 tracking-normal"
          >
            SMA Tanjung Priok Jakarta
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#ffffff] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#0D464B"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#0D464B] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="beranda.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Beranda</a
          >
          <a
            href="profil.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >Profil</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            id="dataDropdownHP"
          >
            Data
            <div
              class="hidden absolute -mt-12 -left-28 bg-[#FF8B42] p-2 w-28 rounded-l-md font-medium"
              id="dataDropdownContentHP"
            >
              <a
                href="guru.html"
                class="block text-black hover:text-[#FF8B42] py-1 -mt-5 text-[13px] text-center"
                >Data Guru</a
              >
              <a
                href="staf.html"
                class="block text-black hover:text-[#FF8B42] py-1 text-[13px] text-center"
                >Data Staf</a
              >
            </div>
          </a>
          <a
            href="konten.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >Konten</a
          >
          <a
            href="https://frontend-e-learning.web.app/view/login/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-[#FF8B42]"
            >E-Learning</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-semibold tracking-wide text-white text-[14px] lg:text-base xl:text-[17px]"
          >
            SMA Tanjung Priok Jakarta
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="beranda.html">
            <p class="hover:text-[#FF8B42]">Beranda</p>
          </a>
          <a href="profil.html">
            <p
              class="hover:text-[#FF8B42] font-semibold underline underline-offset-8 decoration-2 decoration-[#FF8B42]"
            >
              Profil
            </p>
          </a>
          <a href="#" id="dataDropdown1" class="relative block">
            <p class="hover:text-[#FF8B42]">Data Sekolah</p>
            <div
              class="hidden font-medium absolute bg-[#FF8B42] xl:mt-[49px] text-center lg:mt-[48px] mt-[42px] px-4 py-4 w-[100px] lg:w-[120px] rounded-b-md shadow-md text-xs lg:text-[13px] xl:text-[14px] -ml-8"
              id="dataDropdownContent1"
            >
              <a href="guru.html" class="block text-black hover:font-bold py-1"
                >Data Guru</a
              >
              <a
                href="staf.html"
                class="block text-black hover:font-bold py-1 mt-2"
                >Data Staf</a
              >
            </div>
          </a>
          <a href="konten.html">
            <p class="hover:text-[#FF8B42]">konten</p>
          </a>
          <a href="https://frontend-e-learning.web.app/view/login/siswa.html">
            <p class="hover:text-[#FF8B42]">E-Learning</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("dataDropdownHP")
          .addEventListener("click", function () {
            var dropdownContentHP1 = document.getElementById(
              "dataDropdownContentHP"
            );
            dropdownContentHP1.classList.toggle("hidden");
          });

        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });

        document
          .getElementById("dataDropdown1")
          .addEventListener("click", function (event) {
            event.preventDefault();
            var dropdownContent = document.getElementById(
              "dataDropdownContent1"
            );
            dropdownContent.classList.toggle("hidden");
          });
      </script>
    </nav>

    <!-- CAROUSEL -->
    <section>
      <div class="w-full bg-[#001A1C] bg-opacity-95">
        <div class="sm:flex pb-5 sm:pb-0">
          <img
            class="w-full mb-5 sm:mb-0 sm:w-1/2 rounded-br-[400px] xl:h-[600px] lg:h-[500px] md:h-[430px] sm:h-[380px] h-[280px] object-cover object-center"
            src="../assets/carousel-profil.jpg"
          />
          <div
            class="sm:w-1/2 my-auto mr-5 sm:mr-7 md:mr-10 lg:mr-12 xl:mr-16 xl:ml-0 sm:ml-3 ml-2 text-white"
          >
            <p
              class="font-semibold text-[22px] sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-right tracking-wide"
            >
              Profil SMA Tanjung Priok
            </p>
            <p
              class="font-medium text-[15px] sm:text-base md:text-lg lg:text-xl xl:text-2xl text-right tracking-wide mt-1.5 sm:mt-3 md:mt-4 lg:mt-6 xl:mt-7"
            >
              SMA Tanjung Priok Jakarta menciptakan perpaduan yang kuat antara
              keunggulan akademik dan inovasi
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--SEJARAH SEKOLAH -->
    <section class="my-10 sm:my-12">
      <div class="mx-5 sm:mx-8 md:mx-10 lg:mx-16 xl:mx-20">
        <!-- Tampilan HP -->
        <div class="text-black block sm:hidden">
          <h1 class="font-bold text-xl sm:text-2xl mt-5 sm:mt-7">
            Sejarah SMA Tanjung Priok Jakarta
          </h1>
          <p
            class="text-sm font-normal mt-3 text-justify leading-[1.55] indent-10"
          >
            SMA Tanjung Priok, berdiri pada tahun 1985 dengan tanggal pendirian
            resmi pada 1 Juli 1985/1986 di bawah naungan Yayasan Dikantara. Pada
            masa itu, Drs. H. Nawawi Rambe menjabat sebagai Kepala Sekolah,
            didukung oleh Wakil Kepala Sekolah, Bapak Darwin. Sekolah ini
            dimulai dengan 19 siswa di jurusan IPA, berlokasi di kompleks yang
            sama dengan STM Perkapalan dan SMP Tanjung Priok, yakni di Jl.
            Mangga No. 3 Jakarta Utara. Guru-guru berasal dari STM, SMP Tanjung,
            dan sekolah lain yang sesuai dengan kebutuhan.
          </p>
          <img
            src="../assets/sma.jpg"
            alt="Deskripsi Gambar"
            class="my-3 h-[220px] object-cover object-center rounded-md w-full"
          />
          <!-- Kalimat tambahan untuk tampilan HP -->
          <p
            class="text-sm font-normal mt-2 text-justify leading-[1.55] lg:mt-1 xl:mt-1 indent-10"
          >
            Pada tahun kedua, 1986/1987, jumlah siswa meningkat menjadi 35,
            dengan 17 siswa di jurusan IPA dan 18 siswa di jurusan IPS. Sistem
            pembelajaran diintegrasikan dan dibagi, dengan mata pelajaran umum
            digabungkan, sementara jurusan minat dipisahkan. Tahun ketiga
            menandai peningkatan jumlah ujian dibandingkan dengan tahun pertama.
            Pada tahun 1988, dengan rasa syukur, sekolah berhasil mencapai
            tingkat kelulusan 100%.
          </p>
        </div>

        <!-- TAMPILAN TABLET DAN LAPTOP -->
        <div class="hidden sm:block">
          <div class="mt-10 lg:mt-12 xl:mt-16 mb-5 md:mb-7 lg:mb-8 xl:mb-12">
            <div class="flex">
              <h1
                class="font-bold w-2/3 text-2xl md:text-3xl lg:text-[33px] xl:text-4xl leading-normal xl:leading-[1.5]"
              >
                Sejarah SMA Tanjung Priok
              </h1>
              <div class="bg-[#0D464B] h-[5px] rounded-sm w-1/3 mt-4  lg:mt-4 xl:mt-6"></div>
            </div>
            <div class="float-left mt-5 md:mt-8 ">
              <img
                src="../assets/sma.jpg"
                alt="Deskripsi Gambar"
                class="h-[230px] md:h-[250px] lg:h-[270px]  object-cover object-center rounded-md w-[330px] md:w-[380px] lg:w-[440px] xl:-w-[470px] mr-7 md:mr-10 lg:mr-12 xl:mr-16 mb-1.5 md:mb-3.5"
              />
            </div>
            <div class="pb-4 md:pb-6 xl:pb-7"></div>
            <p
              class="text-[14.5px] md:text-[15px] lg:text-base xl:text-[17px] xl:tracking-wide font-normal xl:leading-relaxed text-justify leading-[1.5]"
            >
              SMA Tanjung Priok, berdiri pada tahun 1985 dengan tanggal
              pendirian resmi pada 1 Juli 1985/1986 di bawah naungan Yayasan
              Dikantara. Pada masa itu, Drs. H. Nawawi Rambe menjabat sebagai
              Kepala Sekolah, didukung oleh Wakil Kepala Sekolah, Bapak Darwin.
              Sekolah ini dimulai dengan 19 siswa di jurusan IPA, berlokasi di
              kompleks yang sama dengan STM Perkapalan dan SMP Tanjung Priok,
              yakni di Jl. Mangga No. 3 Jakarta Utara. Guru-guru berasal dari
              STM, SMP Tanjung, dan sekolah lain yang sesuai dengan kebutuhan.
              Pada tahun kedua, 1986/1987, jumlah siswa meningkat menjadi 35,
              dengan 17 siswa di jurusan IPA dan 18 siswa di jurusan IPS. Sistem
              pembelajaran diintegrasikan dan dibagi, dengan mata pelajaran umum
              digabungkan, sementara jurusan minat dipisahkan. Tahun ketiga
              menandai peningkatan jumlah ujian dibandingkan dengan tahun
              pertama. Pada tahun 1988, dengan rasa syukur, sekolah berhasil
              mencapai tingkat kelulusan 100%.
            </p>
          </div>
          <div class="bg-[#0D464B] w-2/3 h-[5px] rounded-sm "></div>
        </div>
      </div>
    </section>
  </body>
</html>
